<center><h1>About App</h1></center>
<hr /> CV Management System is all about making your CV related activities much more easier. Find more here <a href="https://github.com/cdrrazan/make-your-cv" target="_blank">Github.</a>
