<h1>Contact</h1>
<hr/> Github: <a href="https://github.com/cdrrazan/">Profile</a></li>
<hr /> Blog: <a href="https://cdrrazan.com">cdrrazan's blog</a>
<hr /> Email: <a href="mailto:inbox@cdrrazan.com">cdrrazan@gmail.com</a>
