
<center><h1>Developer's link</h1></center>
<hr/><h3> Github: <a href="https://github.com/cdrrazan/" target="_blank">Profile</a></h3>
<hr /><h3> Blog: <a href="https://cdrrazan.com" target="_blank">cdrrazan's blog</a></h3>
<hr /><h3> Email: <a href="mailto:inbox@cdrrazan.com">inbox@cdrrazan.com</a></h3>
<center><hr /><h3><b>cdrrazan | Tweets</b></h3></center>

            <a class="twitter-timeline" data-height="900px" href="https://twitter.com/cdrrazan"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

