
<center><h1>Developer's link</h1></center>
<hr/><h3> Github: <a href="https://github.com/cdrrazan/" target="_blank">Profile</a></h3>
<hr /><h3> Blog: <a href="https://cdrrazan.com" target="_blank">cdrrazan's blog</a></h3>
<hr /><h3> Email: <a href="mailto:inbox@cdrrazan.com">inbox@cdrrazan.com</a></h3>
