<h1>Developer's link</h1>
<hr/><h3> Github: <a href="https://github.com/cdrrazan/">Profile</a></h3>
<hr /><h3> Blog: <a href="https://cdrrazan.com">cdrrazan's blog</a></h3>
<hr /><h3> Email: <a href="mailto:inbox@cdrrazan.com">cdrrazan@gmail.com</a></h3>
