/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require jquery-ui/datepicker.css
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'font-awesome';

$primary-font: 'Titillium Web', serif;
$secondary-font: 'Nanum Myeongjo', sans-serif;
$main-blue: #337ab7;

.nav {
  color: white;
}
.navbar-header .navbar-brand {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  color: $main-blue;
}

.navbar-default  {
  font-size: 18px;

}


html, body {
  font-family: $primary-font;
   height: 100%;
   font-size: 18px
}

.wrap {
  min-height: 100%;
  height: auto;
  width: 70%;
  position: relative;
  /* Negative indent footer by its height */
  margin: 0 auto;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

.footer {
  font-size: 24px;
}
