// Place all the styles related to the cvms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-col {
    float: left;
    width:33%;
}
.center-col {
    float: left;
    width: 33%;
}
.right-col {
    float: left;
    width: 33%;
}
.left-col1 {
    float: left;
    width:50%;
}

.right-col1 {
    float: left;
    width: 50%;
}

.left-col2 {
    float: left;
    width: 10%;
}
.center-col1 {
    float: left;
    width: 30%;
}
.center-col2 {
    float: left;
    width: 30%;
}
.right-col2 {
    float: left;
    width: 30%;
}

.left-col3 {
    float: left;
    width: 35%;
}
.center-col3 {
    float: left;
    width: 35%;
}
.center-col4 {
    float: left;
    width: 15%;
}
.right-col3 {
    float: left;
    width: 15%;
}
