// Place all the styles related to the cvms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font: 'Varela Round', serif;
$secondary-font: 'Mukta Mahee', sans-serif;
$main-blue: #337ab7;

.nav {
  color: white;
}
.navbar-header .navbar-brand {
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  color: $main-blue;
}

.navbar-default  {
  font-size: 18px;

}


html, body {
  font-family: $primary-font;
   height: 100%;
   font-size: 18px
}

.wrap {
  min-height: 100%;
  height: auto;
  width: 70%;
  position: relative;
  /* Negative indent footer by its height */
  margin: 0 auto;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

.footer {
  font-size: 24px;
}
table, th, td {
    border: 1px solid black;
}

.left-col {
    float: left;
    width:33%;
}
.center-col {
    float: left;
    width: 33%;
}
.right-col {
    float: left;
    width: 33%;
}
.left-col1 {
    float: left;
    width:50%;
}

.right-col1 {
    float: left;
    width: 50%;
}

.left-col2 {
    float: left;
    width: 10%;
}
.center-col1 {
    float: left;
    width: 30%;
}
.center-col2 {
    float: left;
    width: 30%;
}
.right-col2 {
    float: left;
    width: 30%;
}

.left-col3 {
    float: left;
    width: 35%;
}
.center-col3 {
    float: left;
    width: 35%;
}
.center-col4 {
    float: left;
    width: 15%;
}
.right-col3 {
    float: left;
    width: 15%;
}
.right-col4{
    float: left;
    width: 25%;
}
