// Place all the styles related to the cvms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-font: 'Open Sans', serif;
$secondary-font: 'Montserrat', sans-serif;
$main-blue: #337ab7;
.nav {
    color: white;
}

.navbar-header .navbar-brand {
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: $main-blue;
}

.navbar-default {
    font-size: 18px;
}

html,
body {
    font-family: $primary-font;
    height: 100%;
    font-size: 18px
}

.wrap {
    min-height: 100%;
    height: auto;
    width: 70%;
    position: relative;
    /* Negative indent footer by its height */
    margin: 0 auto;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

.footer {
    font-size: 24px;
}

table,
th,
td {
    border: 1px solid black;
}

.left-col {
    float: left;
    width: 33%;
}

.center-col {
    float: left;
    width: 33%;
}

.right-col {
    float: left;
    width: 33%;
}

.left-col1 {
    float: left;
    width: 50%;
}

.right-col1 {
    float: left;
    width: 50%;
}

.left-col2 {
    float: left;
    width: 10%;
}

.center-col1 {
    float: left;
    width: 30%;
}

.center-col2 {
    float: left;
    width: 30%;
}

.right-col2 {
    float: left;
    width: 30%;
}

.left-col3 {
    float: left;
    width: 35%;
}

.center-col3 {
    float: left;
    width: 35%;
}

.center-col4 {
    float: left;
    width: 15%;
}

.right-col3 {
    float: left;
    width: 15%;
}

.right-col4 {
    float: left;
    width: 25%;
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}


dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd {
    width: 600px;
    float: right;
}

dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}


#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

