.devise-right {
    min-height: 100%;
    height: auto;
    width: 35%;
    position: relative;
    float: right;
}

.devise-left {
    min-height: 100;
    height: auto;
    width: 60%;
    position: relative;
    float: left;
}
