<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/users/sign_up">Sign up</a></li>
                        <li><a href="https://github.com/cdrrazan/make-your-cv/releases" target="_blank">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About Me</h5>
                    <ul>
                        <li><a href="https://rajan.link">Portfolio</a></li>
                        <li><a href="https://cdrrazan.com/blog">Blog</a></li>
                        <li><a href="https://cdrrazan.com">About</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="https://rajan.link/twitter" class="facebook"><i class="fa fa-facebook"></i></a>
                         <a href="https://rajan.link/facebook" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://rajan.link/googleplus" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default"><a href="https://rajan.link/twitter">Tweet Me</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>make-your-cv © 2018  </p>
        </div>
    </footer>
