<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/sign_up">Sign up</a></li>
          <li>
            <a href="https://github.com/cdrrazan/make-your-cv/releases" target="_blank">Downloads</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Demo Links</h5>
        <ul>
          <li><a href="#" target="_blank">Link 1</a></li>
          <li><a href="#" target="_blank">Link 2</a></li>
          <li><a href="#" target="_blank">Link 3</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <button type="button" class="btn btn-default">
          <a href="#">Tweet Me</a></button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>make-your-resume © 2021 </p>
  </div>
</footer>
